<aside class="w-2/12 bg-slate-950 py-8 px-8">
  <nav>
    <h3 class="mb-4 font-bold text-2xl text-center uppercase text-slate-50">
      Navigation
    </h3>
    <ul class="flex flex-col gap-y-2">
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="cours/reactive-form"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">1</span>
        <span>Reactive form</span>
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="cours/formulaire-reactif"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">2</span>
        <span>Formulaire reactif</span>
      </li>

      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="cours/value-and-reset"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">3</span>
        <span>Value et Reset</span>
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">4</span>
        <span>Validateurs</span>
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">5</span>
        <span>Les messages d'erreurs</span>
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">6</span>
        <span
          >Les classes et états <br />
          des abstractControls</span
        >
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">7</span>
        <span
          >Les formGroups <br />
          Imbriqués</span
        >
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">8</span>
        <span>FormArray</span>
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">9</span>
        <span>FormBuilder</span>
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">10</span>
        <span
          >FormGroup <br />
          et EventEmitter</span
        >
      </li>
      <li
        class="bg-slate-200 py-2 px-4 rounded-lg border-slate-950 text-slate-950 text-center cursor-pointer hover:bg-slate-600 hover:text-slate-50 font-bold flex items-center justify-between"
        routerLink="#"
        routerLinkActive="active"
      >
        <span class="text-lg font-black">11</span>
        <span
          >Case à cocher <br />
          Boutons radios <br />
          liste déroulante</span
        >
      </li>
    </ul>
  </nav>
</aside>
