<aside *ngIf="shouldShow" class="w-2/12 bg-slate-950 py-8 px-6 min-h-screen">
  <nav>
    <h3 class="mb-6 font-bold text-xl text-center uppercase text-slate-50 tracking-wider">
      Navigation
    </h3>
    <ul class="flex flex-col gap-y-2">
      <li
        *ngFor="let lesson of lessons"
        class="bg-slate-200 py-2.5 px-4 rounded-lg border border-transparent text-slate-950 cursor-pointer hover:bg-indigo-600 hover:text-white font-bold flex items-center justify-between transition-all duration-200"
        [routerLink]="['/cours', lesson.slug]"
        routerLinkActive="!bg-indigo-700 !text-white shadow-md shadow-indigo-500/20 border-indigo-400"
      >
        <span class="text-sm font-black bg-slate-950/10 w-5 h-5 rounded-full flex items-center justify-center">{{ lesson.num }}</span>
        <span class="text-xs text-right leading-tight max-w-[80%] truncate">{{ lesson.title }}</span>
      </li>
    </ul>
  </nav>
</aside>
