<section class="bg-slate-500 flex-auto grid grid-cols-4 grid-rows-3">
  <!-- Partie Résumé du cours -->
  <section class="bg-slate-50 p-8 col-span-3 row-span-2">
    <h2
      class="mt-2 mb-4 text-center text-3xl font-bold text-slate-950 uppercase"
    >
      Résumé du cours
    </h2>
    <div class="p-2">
      <p class="bg-slate-200 p-2 rounded-lg mb-4">
        Afin d'utiliser le module lié aux formulaires, je dois importer
        obligatoirement le module
        <strong class="text-slate-950">ReactiveFormsModule</strong> qui provient
        de <strong class="text-slate-950">&#64;angular/forms</strong>.
      </p>

      <pre
        class="bg-neutral-900 py-1 text-slate-50 font-bold relative my-1 rounded-lg shadow-lg"
      >
          <span class="text-slate-950 absolute top-4 right-0 bg-slate-200 px-2 py-1 rounded-tl-lg rounded-bl-lg">app Module</span>
          <strong class="text-zinc-600 italic">... des imports ...</strong>
          <span class="text-slate-400">import &#123; ReactiveFormsModule &#125; from '&#64;angular/forms';</span>

          &#64;NgModule(&#123;
            declarations: [ <strong class="text-zinc-600 italic">... des components ...</strong> ],
            imports: [ <strong class="text-zinc-600 italic">... des modules ...</strong>, <span class="text-slate-400">ReactiveFormsModule</span>],
            providers: [provideClientHydration()],
            bootstrap: [AppComponent],
          &#125;)
        </pre>

      <p class="py-2 px-4">
        Pour la partie HTML, là ou le formulaire est utilisé, dnas le tag
        <strong>&lt;form&gt;</strong>, il faut placer la directive
        <strong>[formGroup]="form"</strong> qui sera <strong>bindé</strong> à un
        attribut portant le nom de <strong>"form"</strong> afin d'être utilisé
      </p>

      <pre
        class="bg-neutral-900 py-1 text-slate-50 font-bold relative my-1 rounded-lg shadow-lg"
      >
          <span class="text-slate-950 absolute top-4 right-0 bg-slate-200 px-2 py-1 rounded-tl-lg rounded-bl-lg">template HTML</span>
          &lt;form (ngSubmit)="submitForm()" <span class="text-slate-400">[formGroup]="form"</span>&gt;
            <strong class="text-zinc-600 italic">... Le contenu du formulaire ici ...</strong>
          &lt;/form&gt;
        </pre>

      <p class="py-2 px-4">
        Ci-dessous le début du composant avec l'import de
        <strong class="text-slate-950">FormGroup</strong> et
        <strong class="text-slate-950">FormControl</strong> toujours depuis
        <strong class="text-slate-950">&#64;angular/forms</strong>,
      </p>
      <pre
        class="bg-neutral-900 py-1 text-slate-50 font-bold relative my-1 rounded-lg shadow-lg"
      >
          <span class="text-slate-950 absolute top-4 right-0 bg-slate-200 px-2 py-1 rounded-tl-lg rounded-bl-lg">component TS</span>
          <strong class="text-zinc-600 italic">... des imports ...</strong>
          <strong class="text-slate-400">import &#123; FormControl, FormGroup &#125; from '&#64;angular/forms';</strong>

          <strong class="text-zinc-600 italic">... dans la classe ...</strong>
          <strong class="text-slate-400">public form: FormGroup;</strong> <strong class="text-zinc-600 italic">// attribut</strong>
          public submitForm() &#123;&#125;  <strong class="text-zinc-600 italic">// méthode</strong>
        </pre>

      <p class="py-2 px-4">
        La logique se passe dans le component, donc ici il est question
        d'ajouter tout les inputs que je souhaite gérer. Pour celà,
        <strong class="text-slate-950"
          >je vais assigner une nouvelle instance</strong
        >
        de <strong class="text-slate-950">FormGroup</strong> et lui passer un
        objet comprenant des clés, valeurs. Chacune de ces clés correspond à un
        input en particulié. Pour celà, je vais définir un nom pour chaque clé
        selon l'input désiré. Pour ce qui est de la valeur, il s'agira
        d'instancier <strong class="text-slate-950">FormControl</strong> en
        passant en <strong class="text-slate-950">1er</strong> paramètre une
        chaîne de caractère vide soit dans le code j'obtiens :
      </p>

      <pre
        class="bg-neutral-900 py-1 text-slate-50 font-bold relative my-1 rounded-lg shadow-lg"
      >
          <span class="text-slate-950 absolute top-4 right-0 bg-slate-200 px-2 py-1 rounded-tl-lg rounded-bl-lg">component TS</span>
          <strong class="text-zinc-600 italic">... dans la classe ...</strong>
          public form: FormGroup<strong class="text-slate-400"> = new FormGroup(&#123;
            lastname: new FormControl(''),
            firstname: new FormControl(''),
            passPhrase: new FormControl(''),
          &#125;)</strong>
        </pre>

      <p class="py-2 px-4">
        Afin de pouvoir lié les <strong class="text-slate-950">clés</strong> sur
        l'input html, il faut ajouter la directive
        <strong>formControlName</strong> avec comme valeur le nom de la clé
        souhaité.
      </p>

      <pre
        class="bg-neutral-900 py-1 text-slate-50 font-bold relative my-1 rounded-lg shadow-lg"
      >
          <span class="text-slate-950 absolute top-4 right-0 bg-slate-200 px-2 py-1 rounded-tl-lg rounded-bl-lg">template HTML</span>
          &lt;form (ngSubmit)="une_fonction() [formGroup]="form"&gt;

            &lt;div class="form-group flex flex-col p-2">
              &lt;label for="" class="font-bold uppercase mb-1">Nom :&lt;/label>
              &lt;input
                <span class="text-slate-400">formControlName="lastname"</span>
                type="text"
                placeholder="votre nom"
                class="w-full rounded-md"
              />
            &lt;/div>

            &lt;div class="form-group flex flex-col p-2">
              &lt;label for="" class="font-bold uppercase mb-1">Nom :&lt;/label>
              &lt;input
                <span class="text-slate-400">formControlName="firstname"</span>
                type="text"
                placeholder="votre nom"
                class="w-full rounded-md"
              />
            &lt;/div>

            <strong class="text-zinc-600 italic">... etc ...</strong>
          &lt;/form&gt;
        </pre>
    </div>
  </section>

  <!-- Partie formulaire -->
  <section class="bg-slate-400 p-4 col-span-1 row-span-2">
    <h2 class="mt-2 mb-4 text-center text-3xl font-bold text-slate-950">
      {{ title | uppercase }}
    </h2>

    <form
      (ngSubmit)="submitForm()"
      [formGroup]="form"
      class="bg-slate-200 m-8 p-8"
    >
      <!-- Nom -->
      <div class="form-group flex flex-col p-2">
        <label for="" class="font-bold uppercase mb-1">Nom :</label>
        <input
          formControlName="lastname"
          type="text"
          placeholder="votre nom"
          class="w-full rounded-md"
        />
      </div>

      <!-- Prénom -->
      <div class="form-group flex flex-col p-2">
        <label for="" class="font-bold uppercase mb-1">Prénom :</label>
        <input
          formControlName="firstname"
          type="text"
          placeholder="votre prénom"
          class="w-full rounded-md"
        />
      </div>

      <!-- Phrase de passe -->
      <div class="form-group flex flex-col p-2">
        <label for="" class="font-bold uppercase mb-1">Phrase de passe :</label>
        <input
          formControlName="passPhrase"
          type="text"
          placeholder="votre phrase de passe"
          class="w-full rounded-md"
        />
      </div>

      <!-- Confirmer la phrase de passe -->
      <div class="form-group flex flex-col p-2">
        <label for="" class="font-bold uppercase mb-1"
          >Confirmation de la phrase de passe :</label
        >
        <input
          type="text"
          placeholder="confirmer votre phrase de passe"
          class="w-full rounded-md"
        />
      </div>

      <!-- button de soumission-->
      <div class="text-center">
        <button
          class="bg-slate-500 my-8 px-4 py-2 font-bold rounded-md text-slate-50"
        >
          Valider
        </button>
      </div>
    </form>
  </section>

  <!-- Ma conclusion -->
  <section
    class="px-8 bg-black col-span-4 row-span-1 items-center flex justify-center"
  >
    <figure class="flex flex-col items-center">
      <img
        src="../../../../assets/alain.jpg"
        alt=""
        class="size-56 rounded-full border-4 border-slate-500 mb-2"
      />
      <figcaption class="py-2 px-4 rounded-lg text-center flex flex-col">
        <span class="font-black text-slate-500">Alain Guillon</span>
        <span class="italic text-slate-600"
          >Développeur fullstack certifié</span
        >
      </figcaption>
    </figure>

    <div class="w-6/12 mx-auto">
      <h2 class="mb-4 text-center text-3xl font-bold text-slate-500 uppercase">
        Conclusion
      </h2>
      <dl class="italic p-2 text-lg">
        <dt class="font-bold text-slate-500">(ngSubmit) :</dt>
        <dd class="px-8 italic mb-4 text-slate-50">
          C'est un événement déclenché lors de la soumission du formulaire.<br />Il
          faut lier cette action à une fonction dans le composant TypeScript.
        </dd>
        <dt class="font-bold text-slate-500">submitForm() :</dt>
        <dd class="px-8 italic mb-4 text-slate-50">
          C'est la fonction à exécuter lorsque le formulaire est soumis. <br />
          Pour gérer la logique de soumission, il faut définir dans le
          composant.<br />
          En utilisant ces concepts, je peux créer des formulaires efficaces et
          bien organisés pour mes futures applications Angular.
        </dd>

        <dt class="font-bold text-slate-500">ReactiveFormsModule:</dt>
        <dd class="px-8 italic mb-4 text-slate-50">
          Ce module est indispensable au bon fonctionnement des formulaires.
        </dd>
        <dt class="font-bold text-slate-500">[formGroup]="form" :</dt>
        <dd class="px-8 italic mb-4 text-slate-50">
          Binding d'une directive extrêmement important où je lie l'attribut
          form de mon component qui est du type FormGroup
        </dd>
        <dt class="font-bold text-slate-500">new FormGroup(&#123;&#125;) :</dt>
        <dd class="px-8 italic mb-4 text-slate-50">
          Instanciation de la classe FormGroup en lui passant un objet qui
          contient toutes les clés liés aux formulaires et chacune de ses clé
          est instancié par une classe FormControl ou j'y passe une chaine de
          caractère vide en premier paramètre.
        </dd>
        <dt class="font-bold text-slate-500">formControlName="x"</dt>
        <dd class="px-8 italic mb-4 text-slate-50">
          "x" correspond au nom d'une clé précédemment cité.
        </dd>
      </dl>
    </div>

    <figure>
      <img
        src="../../../../assets/Angular_gradient.png"
        alt="logo angular v17"
        class="size-64"
      />
    </figure>
  </section>
</section>
