<div class="h-screen grid grid-rows-[6rem_auto_6rem] bg-red-50">
  <!-- Header -->
  <app-header></app-header>

  <!-- Contenu principal -->
  <main class="flex">
    <aside class="w-2/12 bg-red-800 py-8 px-8">
      <nav>
        <h3 class="mb-4 font-bold text-2xl text-center uppercase text-red-50">
          Navigation
        </h3>
        <ul class="flex flex-col gap-y-2">
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/1"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">1</span>
            <span>Reactive form</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/2"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">2</span>
            <span>Formulaire reactif</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/3"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">3</span>
            <span
              >API FormControls<br />
              et FormGroup</span
            >
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/4"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">4</span>
            <span>Value et Reset</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/5"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">5</span>
            <span>Validateurs</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/6"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">6</span>
            <span>Les messages d'erreurs</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/7"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">7</span>
            <span
              >Les classes et états <br />
              des abstractControls</span
            >
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/8"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">8</span>
            <span
              >Les formGroups <br />
              Imbriqués</span
            >
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/9"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">9</span>
            <span>FormArray</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/10"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">10</span>
            <span>FormBuilder</span>
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/11"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">11</span>
            <span
              >FormGroup <br />
              et EventEmitter</span
            >
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-lg border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 font-bold flex items-center justify-between"
            routerLink="cours/12"
            routerLinkActive="active"
          >
            <span class="text-lg font-black">12</span>
            <span
              >Case à cocher <br />
              Boutons radios <br />
              liste déroulante</span
            >
          </li>
        </ul>
      </nav>
    </aside>

    <section class="w-10/12">
      <router-outlet></router-outlet>
    </section>
  </main>

  <!-- Pied de page -->
  <app-footer></app-footer>
</div>
