<div class="h-screen grid grid-rows-[6rem_auto_6rem] bg-red-50">
  <!-- Header -->
  <app-header></app-header>

  <!-- Contenu principal -->
  <main class="flex">
    <aside class="w-2/12 bg-red-800 py-8 px-8">
      <nav>
        <h3 class="mb-4 font-bold text-2xl text-center uppercase text-red-50">
          Navigation
        </h3>
        <ul class="flex flex-col gap-y-2">
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/1"
            routerLinkActive="active"
          >
            Reactive form
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/2"
            routerLinkActive="active"
          >
            Formulaire reactif
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/3"
            routerLinkActive="active"
          >
            API FormControl et FormGroup
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/4"
            routerLinkActive="active"
          >
            Value et Reset
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/5"
            routerLinkActive="active"
          >
            Validateurs
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/6"
            routerLinkActive="active"
          >
            Les messages d'erreurs
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/7"
            routerLinkActive="active"
          >
            Les classes det états des abstractControls
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/8"
            routerLinkActive="active"
          >
            Les formGroups Imbriqués
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/9"
            routerLinkActive="active"
          >
            FormArray
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/10"
            routerLinkActive="active"
          >
            FormBuilder
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/11"
            routerLinkActive="active"
          >
            FormGroup et EventEmitter
          </li>
          <li
            class="bg-red-200 py-2 px-4 rounded-xl border-4 border-red-950 text-red-950 text-center cursor-pointer hover:bg-red-950 hover:text-red-50 hover:border-red-500 font-bold"
            routerLink="cours/12"
            routerLinkActive="active"
          >
            Case à cocher, Boutons radios, liste déroulante
          </li>
        </ul>
      </nav>
    </aside>

    <section class="w-10/12">
      <router-outlet></router-outlet>
    </section>
  </main>

  <!-- Pied de page -->
  <app-footer></app-footer>
</div>
