@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }

  .active {
    color: rgb(71 85 105 / var(--tw-text-opacity)) !important;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity)) !important;
  }
}
